In [149]:
import pandas as pd

### get transaction data

In [150]:
transaction = pd.read_csv("dataset/transaction.csv")

In [151]:
# mencari jumlah transaksi per hari
# dalam sql kita tentu bisa mnggunakan group by
# dengan pandas kita menggunakan fungsi size() pada dataframe
# source: https://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html#group-by
daily_transaction = transaction.groupby('created_at').size().to_frame()

In [152]:
daily_transaction = daily_transaction.reset_index()

In [153]:
daily_transaction['created_at'] = pd.to_datetime(daily_transaction['created_at'], format='%m/%d/%Y')

In [154]:
daily_transaction.set_index('created_at', inplace=True)

In [155]:
# jika dilihat dari hasil di atas, ada tanggal yang kosong yaitu tanggal 5 januari
# karena pada tanggal 5 januari tidak ada transaksi
# untuk menyajikan daily report, kita harus memiliki data perharinya, jika memang tidak ada transaksi, maka kita isi 0 atau NUll

In [156]:
daily_transaction = daily_transaction.resample('D').asfreq()

In [157]:
daily_transaction

              0
created_at
2017-01-01  2.0
2017-01-02  2.0
2017-01-03  2.0
2017-01-04  1.0
2017-01-05  NaN
2017-01-06  1.0
2017-01-07  1.0
2017-01-08  1.0

In [ ]:
# fungsi resample digunakan untuk membentuk data time series baru berdasarkan kriteria rentang waktu tertentu